# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Some of the popular languages that Data Scientists
- Some of the commonly used libraries used by Data Scientists
- Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python                    
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. NumPy
3. Matplotlib

In [ ]:
|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|RStudios|
|Zeppelin notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
print(hours)

3.3333333333333335

## Author
Jennifer Anaba Aboor